:root {
    --color1: #2C3333;
    --color2: #395B64;
    --color3: #A5C9CA;
    --color4: #E7F6F2;
  }
html {
    scroll-behavior: smooth;
    overflow-y: overlay;
    overflow: hidden;
    height: 100%;
}
body, *{
    padding: 0;
    margin: 0;
    font-family: 'VT323', monospace;
    font-family: 'Roboto', sans-serif;
}
body {
    background-image: url(../img/Background1.jpg);
    background-size:cover;
    background-position: 50% 70%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: auto;
    height: 100%;
}

/* -------------------------------------NAVIGATION */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #395b64bb; /* color2 transparent */
    box-shadow: 0 0 15px #888888;
    border: 1px solid black;
    width: 90%;
    border-radius: 40px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 1%;
    padding: 10px;
    z-index: 2;
}

/* -------------------------------------Mobile */
.burger {
    display: none;
    border: 1px solid black;
    background-color: #395b64bb;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
  }
  
  .burger span {
    display: block;
    position: absolute;
    top: 45%;
    left: 17%;
    height: 5px;
    width: 65%;
    background: #000;
    border-radius: 2px;
    transition: transform 0.3s ease-out;
  }
  
  .burger span:before,
  .burger span:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    border-radius: 2px;
    transition: transform 0.3s ease-out;
  }
  
  .burger span:before {
    transform: translateY(-10px);
  }
  
  .burger span:after {
    transform: translateY(10px);
  }
  
  .burger.active span {
    transform: rotate(45deg);
    
  }
  
  .burger.active span:before {
    transform: translateY(0) rotate(45deg);
    opacity: 0;
  }
  
  .burger.active span:after {
    transform: translateY(0) rotate(-85deg);
  }

.logo{
    display: flex;
    align-items: center;
}

nav > .logo img {
    margin: 0 20px 0 20px;
    width: 50px;
    height: 40px;
    filter: brightness(.85);
}

nav > .logo h1 {
    color: var(--color4);
    font-size: 1.5rem;
    color: #ffce6d;
}

nav > .links > a {
    margin-right: 20px;
    padding: 10px;
    text-decoration: none;
    color: var(--color4);
    font-size: 1.5rem;
    font-family: VT323;
}
nav > .links > a:hover{
    text-shadow: 3px 3px 4px #ffce6d;
}
.links > .selected{
    text-shadow: 2px 2px 2px #ed5b2d,
                3px 3px 2px #ed5b2d,
                3px 3px 4px #ffce6d;
}


/* -----------------------------------------HEADER */
header {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-blogs{

}
.container-blogs h1 {
    color: #ffce6d;
    font-size: 5em;
    font-family: VT323;
    
}
.container-blogs > .line {
    background-color: #ed5b2d;
    width: 100px;
    height: 10px;
}

/* -----------------------------------------SECTION */
section{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 100px 0 100px 0;
}


/* -----------------------------------------BLOGS */
.blog-cards-container{
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 20px;
    flex-wrap: wrap;
}
.thumbnail{
    position: relative;
    border: 1px solid black;
    width: 360px;
    height: 538px;
    background-color: white;
}
.thumbnail > .thumbnail-pic img {
    width: 100%;
}

.thumbnail-title {
    margin: 10px;
}

.author {
    margin: 10px;
    display: flex;
}
.thumbnail-author-pic{
    background-image: url(../img/2x2.jpg);
    background-size: contain;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}
.author-details{
    font-size: 14px;
    margin-left: 10px;
}   
.thumbnail-desc{
    margin-left: 10px;
}
.anchor {
    position: absolute;
    bottom: 20px;
    left: 10px;
    
}
.anchor > a {
    text-decoration: none;
    color: black;   
    border: 1px solid var(--color1);
    padding: 10px
}

.anchor > a:hover {
    color: white;
    background-color: var(--color2);
    border: 1px solid black;
}

/* ----------------------------------------footer */
footer {
    position: relative;
    width: 100%;
    padding: 50px 0 50px 0;
    background-color: black;
}
.col {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer > .col > img{
    width: 150px;
    height: 150px;
    margin-bottom: 30px ;
}
footer > .col > p{
    color: white;
    width: 30%;
    text-align: center;
    margin-bottom: 30px ;
}
footer > .col > h3{
    color: white;
    margin-bottom: 30px;
}
footer > .col > .sitemap{
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 30%;
}
footer > .col > .sitemap > a{
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 30px;
    color: white;
    text-decoration: none;
}
footer > .col > .sitemap > a:hover{
    border: 1px solid white;
    background-color: white;
    color: black;
}
footer > .col > .accounts-link{
    display: flex;
    gap: 30px;
    justify-content: center;
}
footer > .col > .accounts-link > a img{
    width: 50px;
    height: 50px;
    filter: grayscale(1);
}
.credits{
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%;
    color: white;
}

@media only screen and (max-width: 768px) {
    .burger {
        display: block;
        position: fixed;
        left: 10px;
        top: 10px;
        z-index: 5;
    }
    .navigation {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 10px ;
        transform: translate(-50%, -110%);
        transition: all 500ms ease-in;
    }
    .navigation > .links {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .navigation.show {
        transform: translate(-50%, -2%);
    }
    
    footer {
        position: relative;
        width: 100%;
        padding: 50px 0 50px 0;
        background-color: black;
    }
    .col {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    footer > .col > img{
        width: 100px;
        height: 100px;
        margin-bottom: 30px ;
    }
    footer > .col > p{
        display: none;
    }
    footer > .col > .sitemap{
        gap: 10px;
    }
    footer > .col > .accounts-link{
        gap: 20px;
    }
    footer > .col > .accounts-link > a img{
        width: 50px;
        height: 50px;
        filter: grayscale(1);
    }
    .credits{
        font-size: 12px;
    }
}